* {
  font-family: 'work sans';
  font-style: normal;
}

/* banner seection style*/
.header {
  background-image: url("images/banner/banner3.png");
  width: 1600px;
  height: 808px;
}

.banner {
  background-image: url("images/banner/banner3.png");
  margin: 0;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  display: flex;
  justify-content: right;
  padding-top: 226px;
  padding-right: 230px;
  color: #FFFFFF;

}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: right;
  margin-top: 2px;
  padding-right: 230px;
  color: #FFFFFF;

}

.btn {
  margin-top: 2px;
  margin-left: 1290px;
  margin-bottom: 156px;
  padding: 10px 20px;
  border: none;
  color: #005FAC;
  font-weight: 600;
  font-size: 15px;
  border-radius: 5px;
}
.btn:hover{
  background-color: rgb(255, 237, 71);
  color: black;
}

/* main section */
.main-header {
  display: flex;

}

.img-title {
  font-weight: 700;
  font-size: 40px;
}

.img-body {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}

.img-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #565657;
  padding-left: 3px;
}

.img-description {
  margin: 388px 0 0 0;

}

.plan {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px 230px;
  width: 1141px;
  height: 202.96px;
}

.plan-title {
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan .plan-subtitle1 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  padding: 0 40px;
}

.plan .plan-subtitle2 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-left: -20px;
}

.plan .plan-subtitle3 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  padding: 0 40px;
}

.plan .plan-subtitle4 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-left: -20px;
}

.main-last {
  background-image: url("images/watch.png");
  background-repeat: no-repeat;
  margin: 130px 230px;
  width: 1140px;
  height: 300px;
  background-image: linear-gradient(90deg, #268fe5 0%, rgba(0, 95, 172, 0) 100%), url("images/watch.png");
  border-radius: 8px;

}

.main-last-title {
  margin: 0 64px;
  padding-top: 59px;
  font-weight: 700;
  font-size: 40px;
  color: white;
}

.call-btn {
  margin: 0 64px;
  width: 130px;
  height: 54px;
  border: none;
  margin-top: 24px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  color: #005FAC;
}
.call-btn:hover{
  background-color: greenyellow;
  color: black;
  
}

.background {
  background: #151414;
  width: 1600px;
  height: 570px;
}

/* footer styles */
/* footer left part */

.footer {
  display: flex;
  justify-content: space-between;
  background-size: covor;
}

.footer-left {
  margin: 100px 235px;
} 

.footer-l-title {
  font-weight: 700;
  font-size: 45px;
  color: #F8F8F8;
}

.footer-l-description {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.icon {
  display: flex;
  gap: 20px;
  margin: 0 -40px;
}

/* footer right part */
.footer-right {
  margin: 100px 224px;
}

.footer-r-title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 31px;
}

.input-mail {
  background: #151414;
  width: 270px;
  height: 40px;
  color: #F3F3F3;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 5px;
  color: yellow;

}
.input-mail:hover{
  background-color: rgb(51, 0, 255);
  color: rgb(8, 8, 8);
}

.subscribe-btn {
  background: #005FAC;
  border-radius: 8px;
  width: 170px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.subscribe-btn:hover{
  background-color: red;
}
::placeholder{
  color: white;
  opacity: 1;
  font-size: 12px;
}

/* extra info details part */
.form{
  text-align: center;
  margin: 50px 0;
 

}
.form-list{
  position: absolute;
  justify-content: left;
  background-color: #008cff;
  padding:40;
  
 
}
.list:hover{ color: yellow;
  background-color: #008cff;
  display: inline;
 font-weight: bolder;

}
.list-description{
  color: red;
}
.list-description:hover{
  color: red;
  background-color: #444343;
  text-align: center;
}

.religious-description{
color: #008cff;

}
.feedback{
  background-color: #444343;
  color: yellow;
}
