* {
  font-family: 'Work Sans';
  font-style: normal;
}

/* banner seection style*/
.header {
  background-image: url("/images/banner/banner3.png");
  width: 1600px;
  height: 808px;
}

.banner {
  background-image: url("/images/banner/banner3.png");
  margin: 0;
}

.banner-title {
  font-weight: 700;
  font-size: 65px;
  display: flex;
  justify-content: right;
  padding-top: 226px;
  padding-right: 230px;
  color: #FFFFFF;

}

.banner-description {
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: right;
  margin-top: 2px;
  padding-right: 230px;
  color: #FFFFFF;

}

.btn {
  margin-top: 2px;
  margin-left: 1325px;
  margin-bottom: 156px;
  padding: 10px 15px;
  border: none;
  color: #005FAC
}

/* main section */
.main-header {
  display: flex;

}

.img-title {
  font-weight: 700;
  font-size: 40px;
}

.img-body {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}

.img-subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding-left: 3px;
}

.img-description {
  margin: 388px 0 0 0;

}

.plan {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 50px 230px;
  width: 1141px;
  height: 202.96px;
}

.plan-title{
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}

.plan .plan-subtitle1 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  padding: 0 40px;
}
.plan .plan-subtitle2 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-left: -20px;
}
.plan .plan-subtitle3 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  padding: 0 40px;
}
.plan .plan-subtitle4 {
  margin-top: -30px;
  font-weight: 500;
  font-size: 25px;
  color: #737272;
  margin-left: -20px;
}